$primary            : #212E45;
$secondary          : #344258;
$accent             : #61BDF6;
$accent-hover       : #8dd4ff;
$light-gray         : #8F9DBA;
$highlight          : rgba(143, 157, 186, .5);
$primary-lighter    : #2A374E;
$white              : #fff;
$black              : #000;

$nav-icons          : 25px;
$font-header        : 'Poppins', sans-serif;
$font-text          : 'Raleway', sans-serif; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
    display: grid;
    grid-template-columns: 80px 1fr;
}

h1, h2, h3{
    font-family: $font-header;
}

p, a, label, input, textarea, li, button, option, select{
    font-family: $font-text;
    font-size: 18px;
}

@mixin content-header(){
    height: 70px;
    width: 100%;
    background-color: $primary-lighter;
    display: flex;
    align-items: center;
    padding: 0 40px;

    h1{
        color: $white;
        font-family: $font-header;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0;
    }
}

@mixin add-button(){
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: $accent;
    color: $white;
    transition: .3s ease;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;

    i{
        margin-top: 1px;
        margin-left: 1px;
    }

    &:hover{
        background-color: $accent-hover;
    }
}

@mixin input(){
    width: 100%;
    margin-bottom: 15px;

    label{
        color: $white;
        display: block;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    
    input, textarea, select{
        border: 2px solid $white;
        width: 100%;
        display: flex;
        align-items: center;
        color: $white;
        padding: 15px;
        border-radius: 10px;
        background: transparent;

        &::placeholder{
            color: $light-gray;
        }

        &:focus{
            outline: none;
        }
    }

    textarea{
        min-height: 100px;
    }
}

@mixin input-row(){
    display: flex;
    gap: 40px;
    width: 100%;
}

@mixin form-button(){
    padding: 20px;
    text-align: center;
    width: 100%;
    background: $accent;
    border-radius: 10px;
    color: $white;
    margin-top: 20px;
    border: none;
    transition: .3s ease;

    &:hover{
        background: $accent-hover;
        cursor: pointer;
    }
}