$primary            : #212E45;
$secondary          : #344258;
$accent             : #61BDF6;
$accent-hover       : #8dd4ff;
$light-gray         : #8F9DBA;
$highlight          : rgba(143, 157, 186, .5);
$primary-lighter    : #2A374E;
$white              : #fff;
$black              : #000;

$nav-icons          : 28px;
$font-header        : 'Poppins', sans-serif;
$font-text          : 'Raleway', sans-serif; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
    display: grid;
    grid-template-columns: 80px 1fr;
}

h1, h2, h3{
    font-family: $font-header;
    color: $white;
    margin: 0;
}

p, a, label, input, textarea, li, button, option, select{
    font-family: $font-text;
    font-size: 18px;
    color: $white;
    margin: 0;
}

i{
    color: $white;
}

@mixin content-header(){
    height: 70px;
    width: 100%;
    background-color: $primary-lighter;
    display: flex;
    align-items: center;
    padding: 0 40px;

    h1{
        font-family: $font-header;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0;
    }
}

@mixin add-button(){
    height: 67px;
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $accent;
    transition: .3s ease;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    border: 7px solid $primary;


    i{
        margin-top: 1px;
        margin-left: 1px;
    }

    &:hover{
        background-color: $accent-hover;
    }
}

@mixin input(){
    width: 100%;
    margin-bottom: 15px;

    label{
        display: block;
        margin-left: 20px;
        margin-bottom: 2px;
    }
    
    input, textarea, select{
        border: 2px solid $white;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        background: transparent;

        &::placeholder{
            color: $light-gray;
        }

        &:focus{
            outline: none;
        }
    }

    option{
        background-color: $primary;
    }

    textarea{
        min-height: 100px;
    }
}

@mixin input-row(){
    display: flex;
    gap: 40px;
    width: 100%;
}

@mixin form-button(){
    padding: 20px;
    text-align: center;
    width: 100%;
    background: $accent;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    transition: .3s ease;

    &:hover{
        background: $accent-hover;
        cursor: pointer;
    }
}

@mixin blue-button(){
    padding: 5px 15px;
    border: none;
    background-color: $accent;
    border-radius: 10px;
    text-align: center;
    transition: .3s ease;
    font-size: 20px;

    &:hover{
        background-color: $accent-hover;
    }
}

@mixin button-empty(){
    padding: 5px 15px;
    border: 2px solid $accent;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    transition: .3s ease;
    font-size: 20px;
    color: $accent;
    pointer-events: none;

    i{
        color: $accent;
        font-size: 18px;
        margin-right: 10px;
    }
}

@mixin logo(){
    display: flex;
    justify-content: center;
    transform: scale(.85);

    .logo{
        position: relative;
        margin-bottom: 30px;

        h1, h2{
            line-height: 0.85;
            font-size: 40px;
            padding-bottom: 20px;
            padding-left: 20px;
            font-weight: 600;
        }

        .bottom{
            width: 90px;
            height: 10px;
            background-color: $accent;
            bottom: 0;
            left: 0;
            position: absolute
        }

        .left{
            height: 90px;
            width: 10px;
            background-color: $accent;
            bottom: 0;
            left: 0;
            position: absolute
        }
    }
}

@mixin image-bg(){
    background: url("/resources/img/STO-bg.svg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #1B2D4D, $alpha: .7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.success-message {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #75d378;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    opacity: 0;
    z-index: 9999;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, .25);
    animation: customFadeInOut 2.5s ease-in-out forwards;
}

@keyframes customFadeInOut {
    20% {
        top: -30px;
        opacity: 1;
    }
    80% {
        top: -30px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
}
