#addWorkshop{
    background-color: $primary;
    min-height: 100vh;

    .content-header{
        @include content-header();
    }

    .add-form{
        padding: 30px;
        
        form{
            .input-row{
                @include input-row();
            }
    
            .input{
                @include input();
            }

            button{
                @include form-button();
            }
        }
    }
}