#scrumteams{
    background-color: $primary;
    height: 100vh;

    .content-header{
        @include content-header();
        display: flex;
        justify-content: space-between;

        .tabs{
            display: flex;
            align-items: center;

            .divider{
                height: 30px;
                width: 1px;
                background-color: $light-gray;
                margin: 0 20px;
            }

            .tab{
                color: $white;
                font-family: "Raleway", sans-serif;
                font-size: 18px;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 0;
                    left: -7px;
                    bottom: -3px;
                    height: 1px;
                    background-color: $accent;
                    transition: width .3s ease;
                }

                &.active{
                    &::after{
                        width: calc(100% + 14px);
                    }
                }

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    #scrumteamsList{
        height: calc(100vh - 70px);
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-gutter: stable both-edges;
        position: relative;
    
        h2{
            font-weight: 300;
            font-size: 30px;
        }

        .content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: none;
            animation: fade 1s ease;
            padding-bottom: 100px;
            
            &.active{
                display: block;
            }
        }
    
        @include scrumteamList();
    }

    .add-scrumteam{
        @include add-button();
    }
}

@keyframes fade {
    from {
        opacity: 0;
        left: 20px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
