#users{
    background-color: $primary;
    min-height: 100vh;

    .content-header{
        @include content-header();
    }

    .add-user a{
        @include add-button();
    }

    .no-users{
        height: calc(100vh - 80px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            color: $light-gray;
            font-style: italic;
        }
    }

    .user{
        display: flex;
        justify-content: space-between;
        padding: 15px 25px;
        border-bottom: 1px solid $white;

        .info{
            display: flex;
            align-items: center;

            .name{
                color: $white;
                font-size: 20px;
            }
            
            .divider{
                height: 25px;
                width: 1px;
                background-color: $light-gray;
                margin: 0 10px;
            }

            p{
                color: $light-gray;
            }
        }

        .present, .absent{
            border: 3px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            height: 40px;
            width: 40px;

            i{
                font-size: 25px;
            }
        }

        .not-present{
            border-color: $light-gray;

            i{
                color: $light-gray;
                margin-left: 1px;
            }
        }

        .present{
            border-color: $white;
            background: $white;

            i{
                margin-left: 1px;
                color: $primary;
            }
        }
    }
}