#workshops{
    background-color: $primary;
    min-height: 100vh;

    .content-header{
        @include content-header();
    }

    .add-workshop a{
        @include add-button();
    }

    .workshops-container{
        position: relative;
    }

    .workshops{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 30px;
        height: calc(100% - 80px);

        .workshop{
            background: $secondary;
            border-radius: 10px;
            position: relative;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icons{
                position: absolute;
                top: 15px;
                right: 15px;
                display: flex;
                gap: 15px;

                .duration, .maxPers{
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    p{
                        font-size: 16px;
                    }

                    i{
                        font-size: 20px;
                    }
                }
            }

            .title{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;

                .icon{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $accent;
                    border-radius: 10px;

                    i{
                        font-size: 20px;
                    }
                }

                h2{
                    font-size: 25px;
                }
            }
            
            .description{
                font-weight: 200;
                line-height: 1.4;
                margin-bottom: 15px;
            }

            .info-container{
                display: flex;
            }

            .info{
                background-color: $light-gray;
                display: flex;
                align-items: center;
                border-radius: 10px;
                padding: 0 10px;
                margin-bottom: 15px;

                .divider{
                    height: 15px;
                    margin: 0 5px;
                    width: 1px;
                    background-color: $white;
                }
            }
            
            .signed-up, .no-applications{
                @include button-empty();
            }

            .sign-up, .see-applications{
                @include blue-button();
            }

            .full{
                @include blue-button();
                background-color: $light-gray;
                pointer-events: none;
            }
        }
    }

    .no-workshops{
        height: calc(100vh - 80px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            color: $light-gray;
            font-style: italic;
        }
    }
}

#workshop-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    z-index: 9998;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .applications-container{
        background: $secondary;
        padding: 30px;
        max-height: 500px;
        width: 600px;
        border-radius: 10px;
        position: relative;

        .close-applications{
            position: absolute;
            top: 15px;
            right: 15px;

            &:hover{
                cursor: pointer;

                i{
                    color: $white;
                }
            }

            i{
                color: $light-gray;
                font-size: 25px;
                transition: .3s ease;
            }
        }
        
        h3{
            text-align: center;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 25px;
        }
        
        .applications{
            border: 3px solid $white;
            border-radius: 10px;
            padding: 15px 25px;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            .application{
                display: flex;
                align-items: center;

                .info-divider{
                    height: 20px;
                    width: 1px;
                    background-color: $light-gray;
                    margin: 0 10px;
                }

                .class{
                    color: $light-gray;
                }
            }

            .application-divider{
                width: 90%;
                height: 1px;
                background-color: $light-gray;
                margin: 10px auto;
            }
        }
    }
}

@media only screen and (max-width: 992px){
    #workshops{
        .workshops{
            grid-template-columns: 1fr;
        }
    }
}